<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>FINTRACK</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge"> 
        
        <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">

        <link rel="stylesheet" href="/public/css/main.css">
        <link rel="stylesheet" href="/public/css/user.css">
    </head>

    <body> 
        <header> 
            <div id="logo">
                <img src="/public/images/logo.png" onclick="location.href='/'" href="/" alt="logo" width="100" height="100">
                <h1 class="home-link"><a href="/">FINTRACK</a></h1>
            </div>
        </header>
        <main> 
            {{{ body }}}
        </main>
        <footer>
            <div>
                
            </div>
        </footer>
    </body>    
 </html>
